
*/*.iml
*/.idea
*/target
GroendomC/local.properties
*.iml
.gradle
/local.properties
.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
gradlew
gradlew.bat
settings.gradle
/GroendomC/.idea
/GroendomC/build
*.docx
*.pptx
